contacts-mule-api/src/main/mule/contacts-mule-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
  
  <flow name="contacts-mule-api-main">
    <http:listener config-ref="contacts-mule-api-httpListenerConfig" path="/api/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="contacts-mule-api-config"/>
    <error-handler>
      <on-error-propagate type="APIKIT:BAD_REQUEST">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Bad request"}]]>
            </ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">400</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_FOUND">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Resource not found"}]]>
            </ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">404</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Method not allowed"}]]>
            </ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">405</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Not acceptable"}]]>
            </ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">406</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Unsupported media type"}]]>
            </ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">415</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Not Implemented"}]]>
            </ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">501</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="contacts-mule-api-console">
    <http:listener config-ref="contacts-mule-api-httpListenerConfig" path="/console/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:console config-ref="contacts-mule-api-config"/>
    <error-handler>
      <on-error-propagate type="APIKIT:NOT_FOUND">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Resource not found"}]]>
            </ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">404</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  
  
  <flow name="get:\contacts:contacts-mule-api-config">
    <flow-ref doc:name="RetrievecontactsImpl" doc:id="679e4a65-194d-497b-a707-884446f95df3" name="RetrievecontactsImpl"/>
  </flow>
  <flow name="post:\contacts:contacts-mule-api-config">
    <flow-ref doc:name="CreatecontactsImpl" doc:id="679e4a65-194d-497b-a707-884447f95df3" name="CreatecontactsImpl"/>
  </flow>
  <flow name="get:\contacts\ping:contacts-mule-api-config">
    <flow-ref doc:name="RetrievecontactspingImpl" doc:id="679e4a65-194d-497b-a707-884448f95df3" name="RetrievecontactspingImpl"/>
  </flow>
  <flow name="get:\contacts\(ID):contacts-mule-api-config">
    <flow-ref doc:name="RetrievecontactsByIDImpl" doc:id="679e4a65-194d-497b-a707-884449f95df3" name="RetrievecontactsByIDImpl"/>
  </flow>
  <flow name="put:\contacts\(ID):contacts-mule-api-config">
    <flow-ref doc:name="UpdatecontactsByIDImpl" doc:id="679e4a65-194d-497b-a707-884450f95df3" name="UpdatecontactsByIDImpl"/>
  </flow>
  <flow name="delete:\contacts\(ID):contacts-mule-api-config">
    <flow-ref doc:name="DeletecontactsByIDImpl" doc:id="679e4a65-194d-497b-a707-884451f95df3" name="DeletecontactsByIDImpl"/>
  </flow>
</mule>